spring:
  application:
    name: feedback
  cloud:
    gcp:
      datastore:
        database-id: dgarnier-testing
        credentials:
          location: "classpath:credentials.json"
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: "<placeholder>"
            client-secret: "<placeholder>"
            scope:
              - "read:user"
              - "user:email"
        provider:
          github:
            user-name-attribute: email
feedback:
  admin:
    - git@garnier.wf