<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active sessions</title>
    <style>
        .action-buttons {
            display: inline-block;
            margin: 0 2px;
        }
    </style>
</head>
<body>
<h1>Session management</h1>
<h2>Existing sessions</h2>
<ul>
    <li th:each="sess: ${sessions}">
        <span th:text="${sess.getName()}" data-role="description"></span>
        <form action="/admin/session/delete" method="POST" class="action-buttons">
            <button type="submit" data-role="delete">Delete</button>
            <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
            <input type="hidden" name="session-id" th:value="${sess.getSessionId()}"/>
        </form>
        <form action="/admin/session/toggle-active" method="POST" class="action-buttons">
            <button type="submit" data-role="toggle-active"
                    th:text="${sess.getActive() ? 'Set to inactive' : 'Set to active'}">
            </button>
            <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
            <input type="hidden" name="session-id" th:value="${sess.getSessionId()}"/>
            <input type="hidden" name="active" th:value="${!sess.getActive()}"/>
        </form>
    </li>
</ul>
<h2>New session</h2>
<form action="/admin/session" method="POST">
    <label for="new-session-name">Session title (not blank): </label>
    <!-- Pattern: name is not blank -->
    <input type="text" id="new-session-name" name="name" required pattern="^(?!\s*$).*"/>
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
    <button type="submit" id="add-session">Add session</button>
</form>
</body>
</html>